<% var title = brigade.name; %>
<% var content = `
    <h1>${brigade.name}</h1>
    <p>Група: ${brigade.group}</p>

    <h2>Склад:</h2>
    <ul>
        ${brigade.members.map(member => `<li>${member}</li>`).join('')}
    </ul>

    <p>${brigade.description}</p>
    <a href="/">На головну</a>
`; %>
<%- include('layout', { title, content }) %>
