<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= student.name %></title>
</head>
<body>
<h1><%= student.name %></h1>
<p>Роль у бригаді: <%= student.role %></p>
<a href="/">На головну</a>
</body>
</html>
